SPEC.md
/docs
/docling-graph
/venv-rag
/.claude
/opensearch-index
/user-manual-books
/chat-system/.venv/
/chat-system/.env
/chat-system/data/
/chat-system/__pycache__/
/chat-system/*.pyc
/chat-system/.pytest_cache/
/chat-system/.ruff_cache/
/chat-system/out/
/integration/.ruff_cache/
/integration/.pytest_cache/
/integration/__pycache__/
/retrieval/.pytest_cache
/retrieval/__pycache__/
/retrieval/.ruff_cache/
/retrieval/.venv/
/retrieval/.env
/users/.pycache/
/users/.ruff_cache/
/users/.pytest_cache/
/users/.venv/
/users/.env


